<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pitch App</title>
    {% block styles %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oi&display=swap" rel="stylesheet">
    
    {% endblock %}

</head>


<body class="body" style="background-color: #FF7700;" >
        {% block navbar %}

              {% include "navbar.html" %}
        
        {% endblock %}
        {% block content %}
        {% endblock %}
</html>